.carousel-item {
    height: 500px;
}
.navbar-brand {
  background-color: hsl(0, 0%, 100%)
}

.navbar-collapse{
background-color: rgb(248, 225, 248);
font-style: oblique;
font-variant: inherit;
}

.btn{
color: mediumpurple;
}

#services .card-header {
    color: #DECDF5;
    background-color: black;
}
.collapse-navbar {
    background-color: khaki;
}
#accordionExample .card-header {
    color: #ac7fe6;
    background-color: black;
}

#accordionExample .card-header button {
    color: #c5a2f3;
}
    
.service-title {
    text-transform: uppercase;
}
img {
    vertical-align: center;
    border-style: none;
}
footer {
    background-color: #656176;
    color: white;
    padding: 20px 0;
}

footer a {
    color: white;
}